<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>教材详情</title>
  <link rel="stylesheet" href="../../style/main.css">
</head>

<body>
  <div class="header"></div>
  <div class="navi"></div>
  <div class="main-con" main></div>
  <div class="footer"></div>
  <script src="../../lib/require.js" data-main="../../js/controller/teacherCourseDetails.js"></script>
</body>

</html>
