<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>建立课程</title>
  <link rel="stylesheet" href="../../style/main.css">
  <link rel="stylesheet" href="http://at.alicdn.com/t/font_1126978_wvbiqde6smn.css">
</head>

<body>
  <div class="sub-header"></div>
  <div class="container"></div>
  <div class="footer"></div>
  <script src="../../lib/require.js" data-main="../../js/controller/createCourse.js"></script>
  <script src="../../lib/jquery-1.12.4.min.js"></script>
  <script src="../../lib/zxf_page.js"></script>
</body>

</html>
