<div class="process">
  <div class="step-first">
    <div class="ball-first">1</div>
    <p class="p1">选择教材</p>
  </div>
  <div class="step-second">
    <div class="ball-second">2</div>
    <p class="p2">课程设置</p>
  </div>
  <div class="step-third">
    <div class="ball-third">3</div>
    <p class="p3">建立成功</p>
  </div>
</div>
<div class="choose">
  <div class="choose-hd">
    <input type="text" placeholder="教材名称/ISBN/作者">
    <a href="javascript: void(0);" class="magnify">
      <i class="iconfont icon-search ic"></i>
    </a>
    <select aria-placeholder="全部分类">
      <option selected style="display: none">全部分类</option>
      <option value="aaa">aaa</option>
      <option value="aaa">aaa</option>
      <option value="aaa">aaa</option>
    </select>
  </div>
  <div class="page-roof">
    <span>共<span class="special">30</span>个教材</span>
    <div class="page-num">
      <a href="#">&lt;</a>
      <span><span class="special">1</span>/10</span>
      <a href="#" class="next-button">&gt;</a>
    </div>
  </div>
  <div class="independent clearfix"></div>
</div>
