<div class="m_t clearfix" datailtop>
  <img src="{{data.bgimg}}" alt="">
  <div class="m_t_aside">
    <div class="aside_top">
      <h2>{{data.title}}</h2>
      <p>
        <span>课程邀请码</span>
        <span>{{data.invitecode}}</span>
      </p>
    </div>
    <div class="aside_bottom">
      <ul class='clearfix'>
        <li>
          <span>任课老师</span>
          <span>{{data.author}}</span>
          <span>{{data.college}}</span>
        </li>
        <li>
          <span>开课时间</span>
          <span>{{data.studytime}}</span>
        </li>
        <li>
          <span>报名权限</span>
          <span>所有用户都可以报名</span>
        </li>
        <li>
          <span>学生人数</span>
          <span>{{data.studycount}}</span>
        </li>
      </ul>
      <div class="btn">加入课程</div>
    </div>
  </div>
</div>
