<link rel="stylesheet" href="//at.alicdn.com/t/font_1126978_wvbiqde6smn.css">
<div class="container1 clearfix">
  <div class="logo">
    <a href="javascript:void(0);">哈尔滨工业大学</a>
  </div>
  <div class="info">
    <ul class="clearfix">
      <li class="item"><i class="iconfont icon-xinxi"></i></li>
      <li class="item"><img src="../../assets/touxiang.png"></li>
      <li class="sp1 item">张三
        <ul class="dial1">
          <li><a href="javascript:void(0);">我的资源</a></li>
          <li><a href="javascript:void(0);">我的订单</a></li>
          <li><a href="javascript:void(0);">个人资料</a></li>
          <li><a href="javascript:void(0);">退出登录</a></li>
        </ul>
      </li>
      <li class="sp2 item">教师端
        <ul class="dial2">
          <li><a href="javascript:void(0);">学生端</a></li>
          <li><a href="javascript:void(0);">教师端</a></li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="search">
    <input class="sear" type="text" placeholder="请输入关键字">
    <i class="iconfont icon-search"></i>
  </div>
</div>
