<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../../style/boot.css">
  <title>资源管理</title>
</head>

<body resource>
  <div class="editHeader">
    <div class="container-fluid edit-con">
      <div class="row edit-c-row">AICODER后台管理系统</div>
    </div>
  </div>
  <div class="edit_list_aside"></div>
  <iframe id="myiframe"></iframe>
</body>
<script src="../../lib/require.js" data-main="../../js/controller/resource.js"></script>

</html>
