<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>编辑端页面</title>
  <link rel="stylesheet" href="../../style/main.css">
  <link rel="stylesheet" href="../../lib/DataTables-1.10.15/media/css/jquery.dataTables.min.css">
  <link rel="stylesheet" href="../../style/bootstrapcss/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../style/bootstrapcss/css/bootstrap-theme.min.css">
</head>
<body>
  <div class="sub-header"></div>
  <div class="main clearfix"></div>
  <div class="footer"></div>
  <script src="../../lib/require.js" data-main="../../js/controller/dataTble.js"></script>
 </body>
</html>
