<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>教材详情</title>
  <link rel="stylesheet" href="../../style/main.css">
</head>

<body>
  <div class="header"></div>
  <div class="navi"></div>
  <div class="main-con" main-con>
    <div class="container">
      <div class="m_header"></div>
      <div class="m_middle clearfix">
        <div class="m_wrap">
          <div class="aside" detail>
            <div class="aside_top aside_module">
              <div class="aside_h clearfix">
                <h4>选用的教材</h4>
              </div>
              <ul class="aside_b"></ul>
            </div>
            <div class="aside_bottom aside_module">
              <div class="aside_h clearfix">
                <h4>相关的课程</h4>
                <a href="javascript:;">more...</a>
              </div>
              <ul class="aside_b"></ul>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>
  <div class="footer"></div>
  <script src="../../lib/require.js" data-main="../../js/controller/coursedetail.js"></script>
</body>

</html>
