<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>首页</title>
  <link rel="stylesheet" href="../../style/main.css">
  <link rel="stylesheet" href="../../style/css/swiper.min.css">
</head>

<body>
  <div class="header"></div>
  <div class="navi"></div>
  <div class="swiper-container"></div>
  <div class="list">
    <div class="container">
      <div class="list-item recommed">
        <div class="list_item-h">
          <h3>推荐课程</h3>
          <a href="#">more</a>
        </div>
      </div>
      <div class="list-item hot">
        <div class="list_item-h">
          <h3>热门课程</h3>
          <a href="#">more</a>
        </div>
      </div>
    </div>
  </div>
  <div class="footer"></div>
  <script src="../../lib/require.js" data-main="../../js/controller/studentInex.js"></script>
</body>

</html>
