.aside[detail]{
  float: right;
  .aside_module{
    width: 209px;
    border: 2px solid #ebebeb;
    .aside_h{
      background: #f6f6f6;
      height: 39px;
      border-bottom: 2px solid #ebebeb;
      h4{
        float: left;
        margin-top: 10px;
        margin-left: 16px;
        font-size: 16px;
        color: #1a1a1a;
      }
      a{
        float: right;
        color:#6daee1;
        font-size: 12px;
        margin-top: 15px;
        margin-right: 12px;
      }
    }
    .aside_b{
      padding: 18px 16px 0px;
    }


  }
  .aside_bottom{
    margin-top: 7px;
  }
}
