.all {
  padding: 0 50px;
}

.tit {
  width: 1826px;
  height: 60px;
  border: 2px solid #1F88CB;
  margin: 13px auto 50px;
  position: relative;
  background: linear-gradient(#2676a1, rgb(40, 85, 128),#2676a1);
  h3 {
    color: #1CB6FF;
    cursor: pointer;
    float: left;
  }
  h3:hover {
    color: #fff;
  }
  .fly1{
    width: 51px;
    height: 51px;
    transform: rotate(45deg);
    background: #1F88CB;
    position: absolute;
    top: -27px;
    right: -27px;
  }
  .fly2{
    width: 52px;
    height: 52px;
    transform: rotate(45deg);
    background: #fbfbfb;
    position: absolute;
    top: -29px;
    right: -29px;
  }
  .fly3{
    width: 51px;
    height: 51px;
    transform: rotate(45deg);
    background: #1F88CB;
    position: absolute;
    bottom: -27px;
    left: -27px;
  }
  .fly4{
    width: 52px;
    height: 52px;
    transform: rotate(45deg);
    background: #fbfbfb;
    position: absolute;
    bottom: -29px;
    left: -29px;
  }
  .come1 {
    width: 200px;
    border-bottom: 15px solid #1F88CB;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    position: absolute;
    bottom: -2px;
    left: 100px;
  }
  .come2 {
    width: 199px;
    border-bottom: 15px solid #fbfbfb;
    border-left: 10px solid transparent;
    border-right: 9px solid transparent;
    position: absolute;
    bottom: -4px;
    left: 101px;
  }
  .ske {
    transform: skew(-30deg);
    border-left: 2px solid #1F88CB;
    border-right: 2px solid #1F88CB;
    border-top: 2px solid #fbfbfb;
    border-bottom: 2px solid #fbfbfb;
    background: #fbfbfb;
    position: absolute;
    top: -2px;
    left: 500px;
    width: 80px;
    height: 60px;
  }
}

.fir {
  width: 500px;
  height: 500px;
  border: 1px solid black;
  background: #eee;
  box-sizing: border-box;
  position: relative;
  .trapezoidal1 {
    width: 100px;
    border-top: 30px solid #000;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    position: absolute;
    top: 0;
    left: 0;
  }
  .trapezoidal2 {
    width: 100px;
    border-top: 30px solid #fbfbfb;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    position: absolute;
    top: -1px;
    left: 0;
  }
  .trans1{
    width: 51px;
    height: 51px;
    transform: rotate(45deg);
    background: #000;
    position: absolute;
    top: -25px;
    right: -25px;
  }
  .trans2{
    width: 52px;
    height: 52px;
    transform: rotate(45deg);
    background: #fbfbfb;
    position: absolute;
    top: -27px;
    right: -27px;
  }
  .trans3{
    width: 51px;
    height: 51px;
    transform: rotate(45deg);
    background: #000;
    position: absolute;
    left: -25px;
    bottom: -25px;
  }
  .trans4{
    width: 52px;
    height: 52px;
    transform: rotate(45deg);
    background: #fbfbfb;
    position: absolute;
    left: -27px;
    bottom: -27px;
  }
  .list1 {
    width: 500px;
    height: 500px;
  }
  h1 {
    position: absolute;
    top: 0;
    left: 65px;
  }
}

