li[imgwrap]{
  a{
    display: block;
    img{
      vertical-align: top;
    }
  }
  p{
    padding-top: 4px;
    padding-bottom: 34px;
    font-size: 22px;
    font-size: 14px;
    color: #666666;
  }
}
