.sub-header {
  box-sizing: border-box;
  height: 58px;
  padding-top: 10px;
  background: #fff;
  border-bottom: 2px solid #e0e0e0;
  .user {
    font-size: 12px;
    padding-top: 7px;
  }
  .sub-title {
    font-size: 15px;
    padding-top: 10px;
    margin-left: 300px;
  }
}

