.asidee[special] {
  width: 200px;
  height: 600px;
  float: left;
  #accordion {
    width: 200px;
    .panel-body a {
      display: block;
    }
  }
}
.big-table {
  float: left;
  width: 1500px;
  .myTable {
      thead {
          th {
              text-align: center;
              width: 50px;
          }
      }

      tbody {
          td {
              text-align: center;
          }
      }
  }
}
.iframe-list {
  width: 1500px;
  height: 700px;
  margin-left: 10px;
}
